<H1>Data Science Tools and Ecosystem</H1>

In this notebook, Data Science Tools and Ecosystem are summarized. We can see some languages used in python.

**Objectives:*
<ul>
    <li>Python</li>
    <li>SQL</li>
    <li>R</li>
    

</ul>

Some of the popular languages that Data Scientists use are:

<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Java</li>
    <li>Julia</li>
    <li>Scala</li>
    <li>Java Script</li>
    <li>C / C++</li>
</ol>

Some of the commonly used libraries used by Data Scienctists include:

<ol>
     <li>TensorFlow</li>
     <li>NumPy</li>
     <li>SciPy</li>
     <li>Pandas</li>
     <li>Matplotlib</li>
     <li>Keras</li>
     <li>PyTorch</li>
     <li>Scrapy</li>
</ol>

<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Pandas</td>
  </tr>
  <tr>
    <td>Hadoop</td>
  </tr>
  <tr>
      <td>Ggplot2</td>
  </tr>
</table>

<H3>Below are a few examples of evaluating arithmetic expressions in Python.</H3>

In [2]:
# This a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [1]:
#This will convert 200 minutes to hours by diving by 60.
n=(200/60)
print(n,"seconds")

3.3333333333333335 seconds

<H2>Author:G.G. Heshan Himantha Prabodhana</H2>